body{
  background: #ddd;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  margin: 0;
  font-family: 'Press Start 2P';
}

.title{
  font-size: 15vw;
  width: 100%;
  margin-top: 30%;
  text-align: center;
}

.subtitle{
  text-align: center;
  opacity: 0.7;
  font-size: 3vw;
}

#startBtn{
  display: none;
  width: 40vw;
  margin: auto;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 30px;
  color: #ddd;
  border-radius: 20px;
  background: #333;
  animation: hover 1.5s ease infinite;
}

#resetBtn{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
  background: #222;
  z-index: 3;
}

@keyframes hover {
  0%{
    top: 5px;
    left: 0;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
  }
  50%{
    top: 0;
    left: -5px;
    box-shadow: 13px 13px 20px rgba(0,0,0,0.4);
  }
  100%{
    top: 5px;
    left: 0;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
  }
}

.color{
  height: 50%;
  width: 50%;
  position: absolute;
  transition: all 0.2s linear;
}

.color .taken{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  color: #ddd;
  text-align: center;
  font-size: 30px;
  padding-top: 40%;
}

#red{
  left: 0;
  top: 0;
  background: red;
}

#blue{
  right: 0;
  top: 0;
  background: blue;
}

#yellow{
  left: 0;
  bottom: 0;
  background: yellow;
}

#green{
  right: 0;
  bottom: 0;
  background: green;
}

#gameScreen{
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.base{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
}

.color-select{
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
}
